html,
body {
  background-color: #f1f1fa;
}

header {
  background-color: #c65d7b;
  color: #f6e7d8;
  text-align: center;
}
header h1 {
  font-family: "Merienda", cursive;
  font-weight: 700;
}

.custom-text {
  color: #874356;
}
